@import "../../../node_modules/bootstrap/scss/functions";
@import "../../../node_modules/bootstrap/scss/variables";
$prefix: treex-default-;
.#{$prefix} {
    &outer {
    }
    &box {
        padding-top: 0.25em;
        padding-bottom: 0.25em;
        padding-left: 0.5em;
    }
    &children {
        margin-left: 1em;
    }
    &value {
        font-weight: bold;
    }
    &is-hidden {
        visibility: hidden !important;
    }
    &is-none {
        display: none !important;
    }
    &expand {
        width: 1em;
        padding: 0.25em;
        border-radius: 0.5em;
        display: inline-block;
        cursor: pointer;
    }
    &collapse {
        width: 1em;
        padding: 0.25em;
        border-radius: 0.5em;
        display: inline-block;
        cursor: pointer;
    }
    &expand:hover {
        background-color: $gray-200;
    }
    &collapse:hover {
        background-color: $gray-200;
    }
}